body{
    background-color: cadetblue;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
#container{
    width: 40%;
    min-width: 350px;
    max-height: 100%;
    background-color: white;
    border-radius: 10px;
}
#newtask{
    display: flex;
   justify-content: space-between;
   padding: 30px 20px;
}
#inputtask{
    height: 30px;
    width: 75%;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 400;
    font-size: larger;
}
#btn{
    width: 20%;
    border: 1px solid;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
}
#btn:hover{
    cursor: pointer;
    background-color: rgb(46, 236, 236);
    color: black;
}
#tasklist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    
}
#task{
    display: flex;
 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 108, 195);
    width: 100%;
    margin: 20px;
    padding: 5px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}
#delbtn{
    color: red;

}




